/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/
@font-face {
  font-family: "PF-BeauSans-Pro-Regular";
  font-style: normal;
  font-weight: 400;
  src: local("PF-BeauSans-Pro-Regular"), url("/fonts/PFBeauSansPro/PFBeauSansPro-Regular.woff") format("woff2");
}

body {
  font-family: "PF-BeauSans-Pro-Regular";
  font: caption;
}

.wp-block {
  max-width: 100%;
  font-family: "PF-BeauSans-Pro-Regular";
  font: caption;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wp-block .screen-reader-text {
  font-family: "PF-BeauSans-Pro-Regular";
  font: caption;
  font-size: 40px;
}

.wp-block .editor-post-title__input {
  font-family: "PF-BeauSans-Pro-Regular";
  font: caption;
  font-size: 40px;
}

.block-editor-block-list__block-edit {
  margin: 0 0 !important;
}

.editor-styles-wrapper [data-block] {
  margin: 0;
}

.edit-post-visual-editor input[type=text] {
  border: none;
  font-size: 18px;
  line-height: normal;
}

.components-base-control__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.components-base-control__field .components-text-control__input {
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: #092564;
}

.components-base-control__field .components-text-control__input::-webkit-input-placeholder {
  color: #2F303A;
}

.components-base-control__field .components-text-control__input:-ms-input-placeholder {
  color: #2F303A;
}

.components-base-control__field .components-text-control__input::-ms-input-placeholder {
  color: #2F303A;
}

.components-base-control__field .components-text-control__input::placeholder {
  color: #2F303A;
}

.editor-block-toolbar .components-base-control .components-base-control__field {
  margin-bottom: 0;
}

.editor-block-toolbar .components-base-control .components-base-control__field .components-text-control__input {
  border: 1px solid #000;
  text-align: left;
  margin: 0;
}

.editor-rich-text {
  color: #092564;
  font-family: "PF-BeauSans-Pro-Regular";
  font: caption;
}

.editor-rich-text .page-title {
  text-align: center;
  margin: 0 0 50px;
  color: #092564;
}

.buttons {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.url-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 80%;
}

.url-group .link-btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  max-width: 10%;
  height: 100%;
}

.url-group .link-url {
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  max-width: 70%;
  margin-right: 0;
  margin-left: auto;
}

.url-group .link-url .components-base-control__field .components-text-control__input {
  text-align: left;
}

.url-group .link-url.shown {
  display: block;
}

.url-group .target {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
}

.url-group .target .components-base-control__field .components-text-control__input {
  text-align: left;
  border: 1px solid #000;
  font-size: 11px;
  padding: 2px;
}

.link-name {
  margin-top: 10px;
}

.link-name .components-text-control__input {
  margin-left: 10%;
  min-width: 155px;
  margin: 0 auto;
  border-radius: 59px;
  padding: 17px 40px;
  max-width: 100%;
}

.components-toggle-control {
  margin: auto;
}

.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6,
h1, h2, h3, h4, h5, h6 {
  color: #092564;
}

.wp-core-ui .button {
  color: #092564;
  background-color: unset;
  border: none;
  font-family: "PF-BeauSans-Pro-Regular";
  font: caption;
}

.wp-core-ui .button-secondary {
  color: #092564;
  background-color: unset;
  border: none;
  font-family: "PF-BeauSans-Pro-Regular";
  font: caption;
}

ul, ol {
  color: #092564;
}
/*# sourceMappingURL=common.css.map */