/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.comparing-rates {
    margin: 10px;
    padding: 25px;
    
    .block-editor-block-list__layout {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .block-editor-block-list__block {
            flex: 0 0 30%;
            max-width: 30%;
            display: flex;
            flex-direction: column;

            .comparing-rates__item {
                .block-editor-block-list__block-edit {
                    width: 100%;

                    .rate-title {
                        flex: 1;
                        max-width: 100%;
                        font-size: 23px;
                        margin-bottom: 0;
                        margin-top: 0;
                    }
                    .rate-cont{
                        flex: 1;
                        max-width: 100%;

                        .components-text-control__input {
                            color:$rateTitle;
                            text-align: left;
                        }
                    }

                    .rate-pr{
                        flex: 1;
                        max-width: 100%;
                        .components-text-control__input {
                            width: 55%;
                            color: $cwhite;
                            background-color: $rateTitle;
                        }
                    }

                    .rate-pr-hot{
                        flex: 1;
                        max-width: 100%;
                        .components-text-control__input {
                            width: 55%;
                            color: $cwhite;
                            background-color: $hotBG;
                        }
                    }

                    .list-inner-elements {
                        .block-editor-inner-blocks {
                            margin-bottom: 25px;

                            .block-editor-block-list__layout {
                                margin: 0;
                                display: flex;
                                flex-direction: column;
                                flex-wrap: wrap;

                                
                                    

                                    ul.block-editor-block-list__block {
                                        flex: 1;
                                        max-width: 100%;
                                        margin: 0;
                                        padding: 0;
                                        list-style-type: none;
                                        margin-left: 0;
                                        padding-left: 0;
                
                                        li {
                                            position: relative;
                                            padding-left: 20px;
                
                                            &:before {
                                                content: "";
                                                position: absolute;
                                                left: 0;
                                                top: 0;
                                                margin-top: 5px;
                                                width: 11px;
                                                height: 8px;
                                                background-image: url('/wp-content/themes/aso/images/dest/list-arrow.svg');
                                            }
                                        }                     
                                }
                            }
                        }
                    }
                    .buy-name {
                        flex: 0 0 100%;
                        max-width: 100%;
                        margin-bottom: 0;

                        .components-text-control__input {
                            max-width: 80%;
                            margin: 0 auto;
                            border-radius: 59px;
                            padding: 16px 40px 16px 40px;
                            color: #f7fcff;
                            background-color: #0063ee;
                        }
                    }
                    .buy-link{
                        flex: 0 0 100%;
                        max-width: 100%;
                        margin-bottom: 0;
                    }

                    .year-pr {
                        flex: 0 0 100%;
                        max-width: 100%;
                        margin-bottom: 0;
                    }  
                }
            }
        }
    }
}