/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */


.rates {
    margin: 10px;
    padding: 25px;

    .tabs__nav {
        width: 80%;
        padding: 25px 0;

        .block-editor-block-list__layout {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            .wp-block.block-editor-block-list__block {
                flex: 0 0 25%;
                max-width: 25%;
                padding: 0 14px;

                .period-name {
                    display: flex;
                    max-width: 100%;
                    align-items: center;

                .components-base-control__field {
                    margin-bottom: 0;
                }
                    .per {
                        flex: 0 0 60%;
                        max-width: 60%;
                        margin-left: 0;
                        margin-right: auto;
                        margin-bottom: 0;

                        .components-text-control__input {
                        font-weight: 700;
                        font-size: 22px;
                        line-height: 26px;
                        color: $ratesNav ;
                        border: none;
                        }
                    }
                    .dsc {
                    flex: 0 0 35%;
                    max-width: 35%;
                    margin: auto 0 auto auto;

                    .components-text-control__input {
                        color: $cwhite;
                        background-color: $ratesNavDisc;
                        }
                    }
                }
            }
        }
    }

    .tabs__basic {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
        padding: 25px 0;

        .components-base-control__field {
            margin: auto;
            width: 100%;
            
        }

        .block-editor-rich-text__editable {
            display: inline-flex;
            max-width: 35%;
            width: auto;
            margin-right: 25px;
        }

        .tip {
            display: flex;
            flex: 0 0 25%;
            max-width: 25%;  
            align-items: center;
            
            .components-text-control__input {
                border: none;
                color: $cwhite;
                background-color: $green;
                font-size: 14px;
            }
        }

        .ribbon {
            flex: 0 0 25%;
            max-width: 25%;
            margin: 0 0 0 auto;

            .components-text-control__input {
                text-align: center;
                color: $cwhite;
                border: none;
                background-color: $basicRibbon;
                font-size: 20px;
                font-weight: 900;
                line-height: 101%;
            }
        }

        .block-editor-inner-blocks {
            flex: 0 0 100%;
            max-width: 100%;
            margin: 25px 0;
            .block-editor-block-list__layout {
                display: flex;
                flex-wrap: wrap;
                .block-editor-block-list__block {
                    flex: 0 0 25%;
                    max-width: 25%;
                    margin: 0;

                    .basic-cont {
                        display: flex;
                        flex-wrap: wrap;
                            
                        
                    }
                }
            }
                      
        }

        .buttons {
            margin: 0 0 0 auto;
            .url-group {
                margin: 0 auto 0 0;

                .link-name {
                    .components-text-control__input {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 118%;
                        border: none;
                        color: $dblue;
                        white-space: pre-wrap;
                    } 
                }

                .link-url {
                    margin-top: 15px;
                    margin-bottom: 0;

                    .components-text-control__input {
                        border: none;
                    }
                }
            }
        }  

        .try-name {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: right;
            margin-bottom: 25px;
            .components-text-control__input {
                margin-right: 0;
                margin-left: auto;
                border: none;
                box-shadow: 0 4px 16px rgba(0,99,238,.48);
                border-radius: 59px;
                padding: 16px 40px 16px 40px;
                justify-content: center;
                min-width: 160px;
                color: $cwhite;
                background-color: $blue;
                text-decoration: none;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
            }
        }

        .try-link {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: right;
            .components-text-control__input {
                width: 25%;
                margin-right: 0;
                margin-left: auto;
                border: none;
            }
        }
    }

    .tabs__personal {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
        padding: 25px 0;

        .tip {
            flex: 0 0 25%;
            max-width: 25%;
            margin-left: 0;
            margin-right: auto;

            .components-text-control__input {
                // margin-bottom: 15px;
                display: inline-block;
                color: #fff;
                background-color: #81a0cc;
                border-radius: 5px;
                padding: 5px;
                font-weight: 700;
                font-size: 14px;
                line-height: 118%;
            }
        }

        .ribbon {
            flex: 0 0 25%;
            max-width: 25%;
            margin: 0 0 0 auto;

            .components-text-control__input {
                text-align: center;
                color: $cwhite;
                border: none;
                background-color: $basicRibbon;
                font-size: 20px;
                font-weight: 900;
                line-height: 101%;
            }
        }

        .block-editor-rich-text__editable {
            display: inline-flex;
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 25px;
        }

        .buttons {
            .url-group {
                margin: 0 auto 0 0;
                width: 100%;
                .link-url{
                    flex: 0 0 100%;
                    max-width: 100%;
                    .components-text-control__input {
                        margin-right: auto;
                        margin-left: 0;
                        border: none;
                    }
                }
            }
        }
        .link-name {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: left;
            margin-bottom: 25px;

            .components-text-control__input {
                margin-right: auto;
                margin-left: 0;
                border: none;
                box-shadow: 0 4px 16px rgba(0,99,238,.48);
                border-radius: 59px;
                padding: 16px 40px 16px 40px;
                justify-content: center;
                min-width: 160px;
                color: $cwhite;
                background-color: $blue;
                text-decoration: none;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
            }
        }
        
        
    }

    .tabs__content {
        margin: 0 auto;
        padding: 25px 0;

        .block-editor-block-list__layout {
            margin: 0;
            // display: flex;
            // flex-wrap: wrap;

            .block-editor-block-list__block {
                padding: 0;
                // flex: 1;
                // max-width: 100%;
                
                .tab-el {
                    .block-editor-block-list__layout {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        min-height: 100%;

                        .block-editor-block-list__block {
                            flex: 0 0 30%;
                            max-width: 30%;
                            min-height: 100%;

                            // .block-editor-block-list__block-edit {
                                .rate-el {
                                    display: flex;
                                    flex-wrap: wrap;
                                    min-height: 100%;
                                    
                                    .organic-profile-image {
                                        text-align: right;
                                        flex: 0 0 100%;
                                        max-width: 100%;
                                        margin-bottom: 25px;
                                    }

                                    .rate-cont {
                                        text-align: left;
                                        flex: 0 0 100%;
                                        max-width: 100%;
                                        margin-bottom: 0;
    
                                        .components-text-control__input {
                                            color:$rateTitle;
                                            text-align: left;
                                        }
                                    }
    
                                    .disc-pr{
                                        text-align: left;
                                        flex: 0 0 40%;
                                        max-width: 40%;
                                        margin-right: 50px;
    
                                        .components-text-control__input {
                                            background-color: $rateTitle;
                                            color: #fff;
                                            padding: 12px 9px 10px;
                                        }
                                    }

                                    .no-pr{
                                        text-align: left;
                                        flex: 0 0 40%;
                                        max-width: 40%;
                                        margin-left: 0;
                                        margin-right: auto;
                                            
    
                                        .components-text-control__input {
                                            text-decoration: line-through;
                                        }
                                    }

                                    .block-editor-inner-blocks {
                                        flex: 0 0 100%;
                                        max-width: 100%;
                                        margin-bottom: 25px;
    
                                        .block-editor-block-list__layout {
                                            display: flex;
                                            flex-direction: column;
    
                                            .block-editor-block-list__block {
                                                flex: 1;
                                                max-width: 100%;
                                                margin: 0;
    
                                                .rate-list-item {
                                                    .components-text-control__input {
                                                        text-align: left;
                                                    }
                                                }

                                                .rate-list-item-pack {
                                                    .components-text-control__input {
                                                        text-align: left;
                                                    } 
                                                }
                                            }
                                        }
                                    }

                                    .buy-link{
                                        flex: 0 0 100%;
                                        max-width: 100%;
                                        margin-bottom: 0;
                                        
                                        .components-text-control__input {
                                            max-width: 80%;
                                            margin: 0 auto;
                                            border-radius: 59px;
                                            padding: 16px 40px 16px 40px;
                                            color: #f7fcff;
                                            background-color: #0063ee;
                                        }
                                    }

                                    .buy-name {
                                        flex: 0 0 100%;
                                        max-width: 100%;
                                        margin-bottom: 0;
                                    }

                                    .year-pr{
                                        flex: 0 0 100%;
                                        max-width: 100%;
                                        margin-bottom: 0;
                                    }
                                }

                                .rate-el__hot {
                                    .organic-profile-image {
                                        .image-button {
                                            border-radius: 10px;
                                            background: $hotBG;
                                            padding: 10px;
                                        }
                                    }

                                    .disc-pr{ 
                                        .components-text-control__input {
                                            background-color: $hotBG;
                                        }
                                    }
                                }

                                .rate-el__purple {
                                    .organic-profile-image {
                                        .image-button {
                                            border-radius: 10px;
                                            background: $purpleBG;
                                            padding: 10px;
                                        }
                                    }

                                    .disc-pr{ 
                                        .components-text-control__input {
                                            background-color: $purpleBG;
                                        }
                                    }
                                }
                            // }                            
                        }
                    }
                }
            }
        }
    }
}