/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.partners {
    margin: 10px;
    padding: 25px;    
    .block-editor-rich-text__editable {
        text-align: center;

        .page-title {
            margin: 0;
        }
    }

    .count {
        .components-text-control__input {
            font-size: 30px;
        }
    }

    .trust {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .block-editor-inner-blocks {
        margin-bottom: 25px;
        margin-top: 25px;

        .partners__slider {

            .block-editor-block-list__layout {
                display: flex;
                margin: 0;
                flex-wrap: wrap;
                justify-content: space-between;
                
                .block-editor-block-list__block {
                    flex: 0 0 15%;
                    max-width: 15%;
                }
            }
        }

        .partners__reviews {
            .block-editor-block-list__layout{
                display: flex;
                flex-wrap: wrap;

                .block-editor-block-list__block {
                    flex: 0 0 25%;
                    max-width: 25%;
                    margin-bottom: 30px;
                    
                    .partners__review {
                        .components-text-control__input {
                            text-align: left;
                        }
            
                        .block-editor-rich-text__editable {
                            text-align: left;
                        }
                    }
                }
            }            
        }
        

    }
    .buttons {
        max-width: 50%;
        margin-bottom: 20px;

        .url-group {
            width: 30%;
        } 
    } 


}