/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.banner {
    margin: 10px;
    padding: 25px;

    .organic-profile-image {
        text-align: center;
    }

    .organic-profile-image.image-active {
        display: flex;
        .components-button.image-button {
            align-content: center;
            margin: 0 auto;
        }
    }

    .banner__tip {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .buttons {
        max-width: 50%;       
    }  
    .url-group {
        width: 60%;
    }
    .green-link {      
        .components-text-control__input {
            border: 1px solid $green;
            background-color: $green;
            color: $cwhite;    
            border-radius: 59px;
            padding: 17px 40px;
            max-width: 60%;
                
        }
    } 
    .blue-link {      
        .components-text-control__input {
            border: 1px solid $blue;
            background-color: $blue;
            color: $cwhite;    
            border-radius: 59px;
            padding: 17px 40px;
            max-width: 60%;
                
        }
    } 
    
    .agency-buttons {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
} 



.main-banner {
    padding: 50px 0;

    .organic-profile-image {
        text-align: center;
    }
    
    .block-editor-rich-text__editable {        
        .banner__tip {
            text-align: center;
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }

    .buttons {
        max-width: 50%;
        margin-bottom: 20px;

        .url-group {
            width: 60%;
        }
            .green-link {      
                .components-text-control__input {
                    border: 1px solid $green;
                    background-color: $green;
                    color: $cwhite;    
                    border-radius: 59px;
                    padding: 17px 40px;
                    max-width: 60%;
                        
                }
            } 
    }   

    .block-editor-inner-blocks {
        .block-editor-block-list__layout {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .block-editor-block-list__block {
                flex: 0 0 14%;
                max-width: 14%;
                padding: 0;

                .main-banner__grid-el {
                    .image-inactive {
                        text-align: center;
                    }
                    .image-active {
                        text-align: center;
                    }

                    .components-text-control__input {
                        text-align: center;
                    }
                }
            }
        }
    }
}
