/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.agency {
    text-align: center;
    padding-bottom: 50px;
}

.service {
    .service__list {
        .block-editor-block-list__layout {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .block-editor-block-list__block {
                flex: 0 0 23%;
                max-width: 23%;
            }
        }
    }

    .service__list-side {
        .block-editor-block-list__layout {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .block-editor-block-list__block {
                flex: 0 0 23%;
                max-width: 23%;

                .service__side-item {
                    .components-base-control {
                        .components-text-control__input {
                            text-align: left;
                        }
                    }
                    .prices {
                        display: flex;

                    }
                }
            }

            .link-name {
                .components-text-control__input {
                    max-width: 35%;
                }               
            }
        }
    }

    .block-editor-block-list__layout {
        .block-editor-block-list__block {
            .buttons {
                margin: 0 0 0 auto;
                .url-group {
                    margin: 0 auto 0 0;
        
                    
                }
                .link-name {
                    flex: 0 0 100%;
                    max-width: 100%;
                    text-align: left;
                    margin-bottom: 25px;
    
                    &.blue-link {      
                        .components-text-control__input {
                            margin-left: 0;
                            margin-right: auto;                            
                            border: 1px solid $blue;
                            background-color: $blue;
                            color: $cwhite;    
                            border-radius: 59px;
                            padding: 17px 40px;
                            max-width: 60%;                                
                        }
                    } 

                    &.green-link {      
                        .components-text-control__input {
                            border: 1px solid $green;
                            background-color: $green;
                            color: $cwhite;    
                            border-radius: 59px;
                            padding: 17px 40px;
                            max-width: 60%;
                            margin-left: 0;
                            margin-right: auto;  
                        }
                    } 
                }
    
                .link-url {
                    margin-top: 15px;
                    margin-bottom: 0;
    
                    .components-text-control__input {
                        border: none;
                    }
                }
            }  
        }
    }
    
    .service__bottom {
        .bottom-row {
            display: flex;
            flex-direction: row;

            .buttons {
                display: flex;
                flex-direction: row;
                flex: 0 0 80%;
                max-width: 80%;
                .button {
                    flex: 0 0 30%;
                }
            }

            .organic-profile-image {
                flex: 0 0 20%;
                max-width: 20%;
            }
        }
        
    }
}

