/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.details {
    margin: 10px;
    padding: 25px;

    .anchor-link {
        .components-text-control__input {
            text-align: left;
        }
    }
    
    .details__item {
        .container {
            display: flex;

            .col {
                flex: 0 0 50%;
                max-width: 50%;
                padding: 25px;

                .block-desc {
                    .components-text-control__input {
                        text-align: left;
                    }
                }
                .buttons {
                    .url-group {
                        margin: 0 auto 0 0;
                    }
                }
                .green-name {
                    .components-text-control__input {
                        min-width: 155px;
                        max-width: 50%;
                        margin: 0 auto 0 0;
                        padding: 17px 40px;
                        border-radius: 59px;
                        border: $green;
                        background-color: $green;
                        color: $cwhite;
                    }
                }

                

                .block-editor-inner-blocks {
                    ul {
                        list-style-type: none;
                        margin-left: 0;
                        padding-left: 0;

                        li {
                            position: relative;
                            padding-left: 20px;

                            &:before {
                                content: "";
                                position: absolute;
                                left: 0;
                                top: 0;
                                margin-top: 5px;
                                width: 11px;
                                height: 8px;
                                background-image: url('/wp-content/themes/aso/images/dest/list-arrow.svg');
                            }
                        }
                    }
                }
            }
        }
    }
}