/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.title-soon {
    display: flex;
    .soon-span {
        color: $cwhite;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        background-color: $soon;
        padding: 6px 8px 4px;
        border-radius: 66px;
        margin: -11px auto 31px 16px;
    }
}

.soon-btn{
    .green-link {
        background-color: $back;
        border: 1px solid $soonBorder;
        color: $soonBtnName;
        box-shadow: none;

        .ic-arrow-right-white {
            color: $soonBtnName;
        }

        &:hover {
            background-color: $soonBtnName;
            color: $back;
            border: 1px solid $soonBorder;

            .ic-arrow-right-white {
                color: $back;
            }
        }
    }
}

.soon-img {
    filter: blur(2px);
}