/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.compare {
    .compare__table-head {
        display: flex;
        margin-bottom: 20px;

        .components-base-control {
            flex: 0 0 20%;
            max-width: 20%;
        }

        .block-editor-inner-blocks {
            flex: 0 0 80%;
            max-width: 80%;
            .block-editor-block-list__layout {
                display: flex;

                .block-editor-block-list__block {
                    flex: 0 0 15%;
                    max-width: 15%;
                }
            }
        }
    }

    .compare__row {
        display: flex;

        .components-base-control {
            flex: 0 0 15%;
            max-width: 15%;

            .components-text-control__input {
                text-align: left;
            }
        }

        .cell-container {
            flex: 0 0 85%;
            max-width: 85%;
            display: flex;
            justify-content: space-between;

            .compare__row-cell {
                display: flex;
                flex-direction: column;
                .components-base-control {
                    max-width: 100%;

                    .components-text-control__input {
                        text-align: left;
                    }
                }
            }
        }
    }

    .compare__subtitle {
        display: flex;
        justify-content: center;
    }
}


.comp {
    .block-editor-block-list__layout {
        display: flex;
        flex-wrap: wrap;

        .block-editor-block-list__block {
            flex: 0 0 30%;
            max-width: 30%;

            .comp__item {
                .components-text-control__input {
                    text-align: left;
                }
            }
        }
    }
}

.partners-reviews {
    padding-top: 50px;

    .block-editor-inner-blocks {
        padding-top: 20px;

        .block-editor-block-list__layout {
            display: flex;
            flex-wrap: wrap;

            .block-editor-block-list__block {
                flex: 0 0 50%;
                max-width: 50%;
                margin-bottom: 20px;

                .components-text-control__input {
                    text-align: left;
                }
            }
        }
    }    
}