/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.opp {
    margin: 10px;
    padding: 25px;
    .opp_init_tabs {
        .block-editor-block-list__layout {
            display: flex;

            .block-editor-block-list__block {
                flex: 0 0 50%;
                max-width: 50%;

                .opp-list {
                    display: flex;
                    flex-direction: column;

                    .opp-subtitle {
                        .components-text-control__input {
                            text-align: left;
                        }
                    }
                    .block-editor-inner-blocks {
                        margin-bottom: 25px;

                        .block-editor-block-list__layout {
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: column;
                            margin: 0;

                            .block-editor-block-list__block {
                                flex: 1;
                                max-width: 100%;
                                margin: 0;
                                padding-left: 0;

                                .tool-name {
                                    .components-text-control__input {
                                        text-align: left;
                                    }
                                }
                            }
                        }
                    }
                    .buttons {
                        width: 100%;
                        margin-bottom: 20px;
                
                        .url-group {
                            margin: 0 auto 0 0;
                        } 
                        .green-name {
                            .components-text-control__input {
                                min-width: 155px;
                                max-width: 50%;
                                margin: 0 auto 0 0;
                                padding: 17px 40px;
                                border-radius: 59px;
                                border: 1px solid $green;
                                background-color: $green;
                                color: $cwhite; 
                            }
                        }
                    } 
                }

                .tab_content {
                    .panes {
                        .block-editor-inner-blocks {
                            margin-bottom: 25px;

                            .block-editor-block-list__layout {
                                display: flex;
                                flex-direction: column;
                                flex-wrap: wrap;
    
                                .block-editor-block-list__block {
                                    flex: 1;
                                    max-width: 100%;
                                    margin: 0;
                                    padding-left: 0;
    
                                    .tab-pane {
                                        padding: 10px 0;
    
                                        .organic-profile-image {
                                            padding-left: 15px;
                                        }
    
                                        .pic-name {
                                            .components-text-control__input {
                                                text-align: left;
                                                margin-left: 15px;
                                            }
                                        }
                                    }
                                }
                            }
                        }                      
                    }

                    .buttons {
                        width: 100%;
                        margin-bottom: 20px;
                
                        .url-group {
                            margin: 0 auto 0 0;
                        } 
                        .green-name {
                            .components-text-control__input {
                                min-width: 155px;
                                max-width: 50%;
                                margin: 0 auto 0 0;
                                padding: 17px 40px;
                                border-radius: 59px;
                                border: 1px solid $green;
                                background-color: $green;
                                color: $cwhite; 
                            }
                        }
                    }
                }
            }
        }
    }
}