/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.offer {
    margin: 10px;
    padding: 25px;

    .container {
        .organic-profile-image {
            text-align: center;
            padding: 25px;
        }

        .block-editor-rich-text__editable {
            .page-title {
                margin: 0;
            }
        }
        .butns {
            display: flex;
            justify-content: space-between;
            padding: 25px 10%;

            .blue {
                flex: 0 0 30%;
                max-width: 30%;

                .register {
                    .components-text-control__input {
                        border: 1px solid $blue;
                        color: $cwhite;
                        background-color: $blue;
                        padding: 16px 40px;
                        border-radius: 59px;
                        width: auto;
                    }
                }
            }
            
            .white{
                flex: 0 0 30%;
                max-width: 30%;
                display: flex;
                flex-direction: column;
                margin-bottom: 0;
                margin-top: auto;
                
                .btn-white {
                    .components-text-control__input {
                        margin: 0 auto;
                        border: 1px solid $blue;
                        background-color: $cwhite;
                        color: $blue;
                        border-radius: 59px;
                        padding: 16px 40px;
                        font-size: 20px;
                        width: auto;
                    }
                }
            }

            .green {
                flex: 0 0 30%;
                max-width: 30%;       
                
                .green-name {
                    .components-text-control__input {
                        margin: 0 auto;
                        border: 1px solid $green;
                        color: $cwhite;
                        background-color: $green;
                        padding: 16px 40px;
                        border-radius: 59px;
                        width: auto;
                    }
                }
            }

            &_4 {
                padding: 25px 0;

                .blue {
                    flex: 0 0 25%;
                    max-width: 25%
                }
        
                .white{
                    flex: 0 0 25%;
                    max-width: 25%;
                }
        
                .green {
                    flex: 0 0 25%;
                    max-width: 25%;       
                }
            }
        }
    }
}
