/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.projects {
    margin: 10px;
    padding: 25px;

    .block-editor-inner-blocks {
        .block-editor-block-list__layout {
            display: flex;
            justify-content: space-between;

            .block-editor-block-list__block {
                flex: 0 0 30%;

                .organic-profile-image {
                    text-align: center;
                }

                .block-editor-rich-text__editable {
                    text-align: center;
                }
            }
        }
    }
}

.about {
    margin: 10px;
    padding: 25px;
    .block-editor-block-list__layout {
        display: flex;
        justify-content: space-between;

        .block-editor-block-list__block {
            flex: 0 0 30%;

            .organic-profile-image {
                text-align: center;
            }

            .block-editor-rich-text__editable {
                text-align: center;
            }
        }
    }
}

.figures {
    margin: 10px;
    padding: 25px;
    background-color: $lblue;
    .block-editor-block-list__layout {
        display: flex;
        justify-content: space-between;

        .block-editor-block-list__block {
            flex: 0 0 30%;

            .figures-count{
                text-align: center;

                .components-text-control__input {
                    color: $cwhite;
                    background-color: $lblue;
                }
            }

            .block-editor-rich-text__editable {
                text-align: center;
                color: $cwhite;
            }
        }
    }
}
.team {
    margin: 10px;
    padding: 25px;
    .block-editor-block-list__layout {
        display: flex;
        justify-content: space-between;

        .block-editor-block-list__block {
            flex: 0 0 30%;

            .organic-profile-image {
                text-align: center;
            }
        }
    }

    .buttons {
        width: 100%;
        margin-bottom: 20px;

        .url-group {
            margin: 0 auto;
            max-width: 22%;
        } 
        .green-name {
            margin: 0 auto;
            .components-text-control__input {
                padding: 17px 40px;
                border-radius: 59px;
                border: 1px solid $green;
                background-color: $green;
                color: $cwhite; 
            }
        }
    } 
   
}

.contacts {
    margin: 10px;
    padding: 25px;
    .contacts__persons {
        .block-editor-block-list__layout {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .block-editor-block-list__block {
                flex: 0 0 22%;
                margin: 0 10px;
                padding: 0;
                .contacts__person {
                    .organic-profile-image {
                        img {
                            max-height: 180px;
                        }
                    }

                    .components-text-control__input {
                        text-align: left;
                    }
                    .person-link {
                        display: flex
                    }
                }
            }
        }
    }

    .contacts__offices {
        .page-title {
            text-align: left;
        }

        .contacts__office {
            display: flex;

            .organic-profile-image {
                flex: 0 0 20%;
            }

            .department {
                flex: 0 0 70%;

                .components-text-control__input {
                    text-align: left;
                }
            }
        }
    }
    

    .contacts__connect {
        .components-text-control__input {
            text-align: left;
        } 

        .url-group {
            margin-left: 0;
            margin-right: auto;             
        }

        .target-link {
            display: flex
        }
    }    
}