/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.tasks {
    margin: 10px;
    padding: 25px;
    
    .block-editor-rich-text__editable {
        text-align: center;
        .page-title {
            margin-bottom: 25px;
        }
    }

    .block-editor-inner-blocks {
        .block-editor-block-list__layout {
            display: flex;

            .block-editor-block-list__block {
                flex: 0 0 25%;
                max-width: 25%;

                .tasks__element-item {
                    text-align: center;

                    .task-title {
                        .components-text-control__input {
                            color: $black;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}