/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.faq {
    margin: 10px;
    padding: 25px;

    .block-editor-block-list__layout {
        display: flex;
        flex-direction: column;
        max-width: 80%;
        margin: 0 auto;

        .block-editor-block-list__block {
            flex: 1;
            max-width: 100%;
            margin: 0 30px;

            .faq__item {

                .question {
                    .components-text-control__input {
                        color: $faqQuest;
                        font-size: 20px;
                        text-align: left;
                    }
                }

                .block-editor-rich-text__editable {
                    text-align: left;
                    color: $faqAns;
                    font-size: 20px;
                }
            }
        }
    }

    .buttons {
        .url-group {
            width: 20%;
        }
        .green-link {
            text-align: center;
    
            .components-text-control__input {
                max-width: 25%;
                width: auto;
                margin: 25px auto 0;
                border: 1px solid $green;
                padding: 17px 40px;
                border-radius: 59px;
                color: $cwhite;
                background-color: $green;
            }
        }
    }

    
}