/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.free-trial {
    margin: 10px;
    padding: 25px;

    .buttons {
        max-width: 50%;
        margin-bottom: 20px;

        .url-group {
            width: 40%;
        }
        .green-link {      
            .components-text-control__input {
                border: 1px solid $green;
                background-color: $green;
                color: $cwhite;    
                border-radius: 59px;
                padding: 17px 40px;
                max-width: 40%;
                    
            }
        } 
    } 
}

.male-account {
    margin: 10px;
    padding: 25px;

    .buttons {
        max-width: 50%;
        margin-bottom: 20px;

        .url-group {
            width: 40%;
        }
        .green-link {      
            .components-text-control__input {
                border: 1px solid $green;
                background-color: $green;
                color: $cwhite;    
                border-radius: 59px;
                padding: 17px 40px;
                max-width: 40%;
                    
            }
        } 
    } 
}