/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 .knowlege-base {
    padding: 50px 0;
    
    .editor-block-list__layout {
        display: flex;
        justify-content: space-between;

        .editor-block-list__block {
            flex: 0 0 30%;
            max-width: 30%;
            padding: 25px 0;

            .knowlege-base__slider__el {
                text-align: center;
                
                .buttons {
                    max-width: 100%;
            
                    .url-group {
                        width: 100%;
                    }

                    .slide-name {
                        .components-text-control__input {
                            font-size: 20px;
                        }
                    }
                }
            }  
        }
    }
    .buttons {
        max-width: 50%;

        .url-group {
            width: 60%;
        }

        .green-link {      
            .components-text-control__input {
                min-width: 155px;
                max-width: 60%;
                margin: 0 auto;
                padding: 17px 40px;
                border-radius: 59px;
                border: 1px solid $green;
                background-color: $green;
                color: $cwhite;        
            }
        }
    }
 }


