/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.partners {
  padding: 50px 0;
}

.partners .editor-rich-text {
  text-align: center;
}

.partners .editor-rich-text .page-title {
  margin: 0;
}

.partners .count .components-text-control__input {
  font-size: 30px;
}

.partners .trust {
  font-size: 18px;
  margin-bottom: 25px;
}

.partners .editor-inner-blocks {
  margin-bottom: 25px;
  margin-top: 25px;
}

.partners .editor-inner-blocks .editor-block-list__layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners .editor-inner-blocks .editor-block-list__layout .editor-block-list__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
  max-width: 15%;
  padding: 15px;
}

.partners .buttons {
  max-width: 50%;
  margin-bottom: 20px;
}

.partners .buttons .url-group {
  width: 30%;
}
/*# sourceMappingURL=editor.css.map */