/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/
$roboto: 'PF-BeauSans-Pro-Regular';
@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		// font-display: swap; // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2');
	}
}

@include font('PF-BeauSans-Pro-Regular', normal, 400, '/fonts/PFBeauSansPro/PFBeauSansPro-Regular.woff');
// @include font('PF-BeauSans-Pro-Bold', bold, 900, '/fonts/PFBeauSansPro/PFBeauSansPro-Bold.woff');

$blue:#0063EE;
$dblue:#092564;
$circleBlue:#2474D5;
$lblue:#2363AC;
$tabActiveBordLeft: #3B81D7;
$lilImgBord: #0085FF;
$tabLink: #3D5A8D;
$partTitle: #006AF6;
$nav-menu: #002979;
$pagesTip: #0C338A;
$basicRibbon: #46A6FF;
$ratesNav: #106DEF;
$toolsBG: #1F6DC8;
$faqAns: #214699;
$toolsBG: #1F6DC8;

$rateTitle: #81A0CC;

$faqQuest: #737373;
$form_border_line:#2F303A;

$cwhite:#FFFFFF;
$back:#F3F6FF;
$soonBorder: #E2E6F0;
$soonBtnName: #A8B6C4;
$black:#000;
$ratesNavDisc: #FF003D;
$purpleBG: #C7008F;
$hotBG: #FF6B00;
$green:#00C773;
$soon: #FFB800;


body {
    font-family: $roboto;
    font: caption;
}

.wp-block {
    max-width: 100%;
    font-family: $roboto;
    font: caption;
    margin-top: 20px;
    margin-bottom: 20px;
    

    .screen-reader-text {
        font-family: $roboto;
        font: caption;
        font-size: 40px;
    }

    .editor-post-title__input {
        font-family: $roboto;
        font: caption;
        font-size: 40px;
    }
}

.block-editor-block-list__block-edit {
    margin: 0 0 !important; 
}

.editor-styles-wrapper [data-block] {
    margin: 0;
}

.edit-post-visual-editor input[type=text] {
    border: none;
    font-size: 18px;
    line-height: normal;
}


.components-base-control__field {
    display: flex;
    flex-direction: column;
    
    .components-text-control__input {
        border: none;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        color: $dblue;

        &::placeholder {
            color: $form_border_line;
        }
    }
}

.editor-block-toolbar {
    .components-base-control {
        .components-base-control__field {
            margin-bottom: 0;

            .components-text-control__input {
                border: 1px solid $black;
                text-align: left;
                margin: 0;
            }
        }
    }
}
.block-editor-rich-text__editable {
    color: $dblue;
    font-family: $roboto;
    font: caption;
    // color: $form_border_line;

    &.page-title {
        text-align: center;
        margin: 0 0 50px;
        color: $dblue;
    }
    &.block-title {
        // text-align: center;
        // margin: 0 0 50px;
        color: $dblue;
    }
    &.tip {
        text-align: center;
    }

}

.organic-profile-image {
    .components-button {
        height: auto;
    }
}

.buttons {
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.url-group {
    display: flex;
    margin: 0 auto;
    width: 80%;

    .link-btn{
        flex: 0 0 10%;
        max-width: 10%;
        height: 100%;
    }
    .link-url {
        display: none;
        flex: 0 0 70%;
        max-width: 70%;
        margin-right: 0;
        margin-left: auto;

        .components-base-control__field {
            .components-text-control__input {
                text-align: left;
            }
        }   
        &.shown {
            display: block;
        }
    }

    .target {
        flex: 0 0 20%;
        max-width: 20%;
        .components-base-control__field {
            .components-text-control__input {
                text-align: left;
                border: 1px solid $black;
                font-size: 11px;
                padding: 2px;
            }
        } 
    }
}

.link-name {
    margin-top: 10px;

    .components-text-control__input {
        margin-left: 10%;
        min-width: 155px;
        margin: 0 auto;
        border-radius: 59px;
        padding: 17px 40px;
        max-width: 100%;
    }
}

.components-toggle-control {
    margin: auto;
}


.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6,
h1, h2, h3, h4, h5, h6 {
    color: $dblue;
}

.wp-core-ui {
    .button {
        color: $dblue;
        background-color: unset;
        border: none;
        font-family: $roboto;
        font: caption;
    }
    .button-secondary {
        color: $dblue;
        background-color: unset;
        border: none;
        font-family: $roboto;
        font: caption;
    }
}

ul, ol {
    color: $dblue;
}


.block-editor__container img {
    width: 100%;
}