/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 .for-whom {
    margin: 10px;
    padding: 25px;
    .container {
        display: flex;
        flex-wrap: wrap;

        .illustration {
            flex: 0 0 30%;
            max-width: 30%;
        }

        .list {
            flex: 0 0 70%;
            max-width: 70%;

            .block-editor-block-list__layout {
                display: flex; 
                flex-wrap: wrap;
                justify-content: space-between;

                .block-editor-block-list__block {
                    flex: 0 0 50%;
                    max-width: 50%;

                    .for-whom__item {
                        padding: 50px 0;
                        .block-editor-inner-blocks {
                            .block-editor-block-list__block {
                                flex: 1;
                                margin: 0;
                                padding: 0;
                                max-width: 100%;

                                ul {
                                    list-style-type: none;
                                    margin-left: 0;
                                    padding-left: 0;
            
                                    li {
                                        position: relative;
                                        padding-left: 20px;
            
                                        &:before {
                                            content: "";
                                            position: absolute;
                                            left: 0;
                                            top: 0;
                                            margin-top: 5px;
                                            width: 11px;
                                            height: 8px;
                                            background-image: url('/wp-content/themes/aso/images/dest/list-arrow.svg');
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }          
        }

        .butns {
            flex: 1;
            max-width: 100%;
            margin-bottom: 20px;
    
            .url-group {
                width: 30%;
            }
            .green-link {      
                .components-text-control__input {
                    border: 1px solid $green;
                    background-color: $green;
                    color: $cwhite;    
                    border-radius: 59px;
                    padding: 17px 40px;
                    max-width: 30%;
                        
                }
            } 
        }
    }
 }

