@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?96229816');
  src: url('../font/fontello.eot?96229816#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?96229816') format('woff2'),
       url('../font/fontello.woff?96229816') format('woff'),
       url('../font/fontello.ttf?96229816') format('truetype'),
       url('../font/fontello.svg?96229816#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?96229816#fontello') format('svg');
  }
}
*/
 
 [class^="ic-"]:before, [class*=" ic-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.ic-arrow-down-green:before { content: '\e800'; } /* '' */
.ic-arrow-down-white:before { content: '\e801'; } /* '' */
.ic-minus:before { content: '\e802'; } /* '' */
.ic-plus:before { content: '\e803'; } /* '' */
.ic-arrow-slider-left:before { content: '\e804'; } /* '' */
.ic-arrow-slider-right:before { content: '\e805'; } /* '' */
.ic-check-mark:before { content: '\e806'; } /* '' */
.ic-log-in:before { content: '\e807'; } /* '' */
.ic-arrow-right-green:before { content: '\e808'; } /* '' */
.ic-arrow-right-white:before { content: '\e809'; } /* '' */
.ic-arrow-left-white:before { content: '\e80a'; } /* '' */
.ic-face:before { content: '\e80b'; } /* '' */
.ic-linkd:before { content: '\e80c'; } /* '' */
.ic-tweet:before { content: '\e80d'; } /* '' */