/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 .tools {
    margin: 10px;
    padding: 25px;
    
    .block-editor-block-list__layout {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .block-editor-block-list__block {
            flex: 0 0 30%;
            max-width: 30%;
            
            border-radius: 15px;

            .tools__item {
                margin-top: 15px;

                .tool-name {
                    .components-text-control__input {
                        text-align: left;
                        font-size: 25px;
                    }
                }

                .block-editor-rich-text__editable {
                    p {
                        color: $cwhite;
                    }
                }

                .watch-tools {
                    margin-bottom: 0;
                    margin-top: auto;

                    .components-text-control__input {
                        padding: 16px 30px;
                        border-radius: 59px;
                    }
                }
            }
        }
    }
}

.tools-page {
    .block-editor-block-list__block {
        background-color: $toolsBG;

        .tool-name {
            .components-text-control__input {
                background-color: $toolsBG;
                color: $cwhite;
            }            
        }
        
        .watch-tools {
            margin-bottom: 0;
            margin-top: auto;

            .components-text-control__input {
                color: $cwhite;
                background-color: $green;
                border: 1px solid $green;
            }
        }

        .watch-link {
            .components-text-control__input {
                color: $cwhite;
                background-color: $toolsBG;
                border: 1px solid $toolsBG;
            }
        }
    }
}
.tools-services {
    background-color: $toolsBG;

    .block-editor-block-list__block {
        background-color: $cwhite;

        .tool-name {
            .components-text-control__input {
                background-color: $cwhite;
                color: $dblue;
            }            
        }

        .watch-tools {
            .components-text-control__input {
                color: $cwhite;
                background-color: $blue;
                border: 1px solid $blue;
            }
        }

        .watch-link {
            .components-text-control__input {
                color: $dblue;
                background-color: $cwhite;
                border: 1px solid $cwhite;
            }
        }
    }
}